/* вся таблица*/
#container {
margin: 0px; /*величину отступа от каждого края элемента*/
text-align: center; /*выравнивание текста*/
width: 100%;  /*ширина*/
height: 500px; /*высота */
}
/* заглавие*/
#header {
color: #FFFFFF;
margin: 50px; /*отступ*/
width: 100%; /* ширина*/
height: 10px; /*высота*/
}
/*таблица вкладок*/
#mainmenu {
position: relative; /*позиционирования элемента относительно окна браузера*/
overflow: visible; /*Отображается только область внутри элемента, остальное будет скрыто.*/
height: 10px; /*высота*/
margin: 50px; /*отступ*/
}
/*вкладки*/
#mainmenu ul li {
position: relative; /*позиция*/
left: 10%; /*расстояние от левого края*/
float: left; /*выравнивание элемента*/
margin: 10px; /*отступ*/
height: 10px; /*высота*/
}
/*текст вкладок*/
#mainmenu ul li a {
color: #FFFFFF; /* цвет*/
display: list-item; /*как элемент должен быть показан в документе*/
text-decoration: none; /*оформление текста*/
padding: 0 20px; /*значение полей вокруг содержимого элемента*/
line-height: 20px; /*межстрочный интервал текста*/
}
/*наведении мышкой на вкладку*/
#mainmenu ul li a:hover {
background-color: #000000; /* цвет фона элемента */
line-height: 30px; /*межстрочный интервал текста*/
padding: 0 30px; /*значение полей вокруг содержимого элемента*/
}

/*основание*/
#content {
color: #FFFFFF;
margin: 80px; /*отступ*/
padding: 0 75px; /*значение полей вокруг содержимого элемента*/
text-align: center; /*выравнивание текста*/
width: 80%; /*ширина*/
height: 200px; /*высота*/
font-family: Arial, sans-serif; /*семейство шрифта*/
font-size: 15px; /*размер шрифта элемента*/
}
/* ссылка */
#ssilka a:link{
	color:  #00FFFF; /* Цвет ссылки */
}
#ssilka a:visited{
	color:  #00FFFF; /* Цвет посещённой ссылки */
}
#ssilka a:active{
	color:  #FF0000; /* Цвет при нажатии на ссылку */
}

/*табличка*/
#table {
width: 100%; /*ширина*/
margin: 80px; /*величину отступа от каждого края элемента*/
color: #FFFFFF;
height: 50px; /*высота*/
position: relative; /*позиционирования элемента относительно окна браузера*/
overflow: visible; /*Отображается только область внутри элемента, остальное будет скрыто.*/
} 

/*подвал*/ 
#footer {
width: 100%; /*ширина*/
color: #FFFFFF;
height: 150px; /*высота*/
}

/*картинка о реконструкции*/
#img {
width: 80%; /*ширина*/
margin: 80px; /*величину отступа от каждого края элемента*/
height: 50px; /*высота*/
}
