
/* вся таблица*/
#container {
margin: 0px; /*величину отступа от каждого края элемента*/
text-align: center; /*выравнивание текста*/
width: 100%;  /*ширина*/
}
/* заглавие*/
#header {
font-family: 'Times New Roman', Times, serif; /* Шрифт с засечками */
font-style: italic; /* Курсивное начертание */
color: #FFFFFF;
margin: 5px; /*отступ*/
width: 100%; /* ширина*/
height: 8px; /*высота*/
}

#img{
padding-left: 15%; /* Поле слева */
padding-right: 11%; /* Поле справа */
margin:10px; /*отступ*/
width: 100%; /* ширина*/
height: 0px; /*высота*/
}

#search{
padding-left: 50%; /* Поле слева */
padding-right: 6%; /* Поле справа */
margin: 30px; /*отступ*/
width: 100%; /* ширина*/
height: 0px; /*высота*/
}

#вкладки{
	margin: 25px; /*отступ*/
}

#button{
	width: 100%; /* ширина*/
	margin: 1x; /*отступ*/
	padding-left: 45%; /* Поле слева */
    padding-right: 25%; /* Поле справа */
}

/*основание*/
#content {
color: #FFFFFF;
position: relative; /*позиционирования элемента относительно окна браузера*/
text-align: center; /*выравнивание текста*/
width: 90%; /*ширина*/
margin: 60px; /*величину отступа от каждого края элемента*/
font-family: Arial, sans-serif; /*семейство шрифта*/
font-size: 15px; /*размер шрифта элемента*/
padding-left: 10%; /* Поле слева */
padding-right: 10%; /* Поле слева */
}

/*подвал*/ 
#footer {
padding-left: 20%; /* Поле слева */
padding-right: 20%; /* Поле справа */	
width: 100%; /*ширина*/
color: #FFFFFF;
line-height: 100%;
height: 99px; /*высота*/
}


